<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" novalidate>

    <p>
        <label for="email">Email </label>
        <input type="text" id="email" name="email" [(ngModel)]="user.email" *appTooltip="tooltipPresent" required>
        <ng-template #tooltipTemplate>      
            <div>   
                This is my tooltip!
            </div>      
        </ng-template>
    </p>
    <p>
        {{ user.phone | replace }}
    </p>
    <p>
        <label for="gender">Gender</label>
        <input type="radio" value="male" name="gender" [(ngModel)]="user.gender" required> Male
        <input type="radio" value="female" name="gender" [(ngModel)]="user.gender" required> Female
    </p>

    <p>
        <button type="submit" (appMdlMouseBtnClick)="doSomething()" [disabled]="!contactForm.valid">Submit</button>
    </p>

</form>